header {
  background-color: white;
  border-bottom: gray solid 1px;
  margin: 0px;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
}

body {
  background: url(./img/sample-pattern.png);
  margin: 0;
}

article {
  border: 2px none;
  background-color: white;
  padding: 10px 20px 10px 20px;
  margin: 3px;
}

h1 {
  text-align: center;
  font-size: 36px;
  color: teal;
  margin-top: 100px;
}

footer {
  background-color: #06223D;
  color: white;
  padding: 10px;
  text-align: center;
  font-family: arial;
  font-size: 14px;
}

#article-list {
  padding: 25px 150px 60px 150px;
}

ul {
  list-style-type: none;
}

#logo {
  float: left;
  padding: 5px;
}

li {
  float: right;
  padding: 0px 20px;
}
